/* Style général pour la liste des utilisateurs */
.container {
    background-image: linear-gradient(rgba(20, 20, 20, 0.500),rgba(20, 20, 20, 0.300)),url(/assets/back-home-page2.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.row {
    margin: auto;
    width: 800px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card span {
    font-size: 20px;
    font-weight: bold;
}


.card hr {
    margin-top: 10px;
    margin-bottom: 20px;
}
.Card-title{
    font-size: 20px;
    color: #fff;
}

  
.example-full-width {
    width: 100%;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
}
.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}