<div class="container">
<span class="text_partners">Our Partners</span>
<div class="horizontal-line"></div>
<div class="image-container">
    <a href="https://wwws.airfrance.tn">
        <img src="/assets/AIRFRANCELogo.png" id ="Airfrance" alt="AirfranceLogo" >    
    </a>
    <a href="https://www.nouvelair.com/fr
    ">
        <img src="/assets/NOUVELAIRLogo.png" id="Nouvelair" alt="NouvelairLogo" >
    </a>
    <a href="https://www.tunisair.com/fr-tn
    ">
        <img src="/assets/TUNISAIRLogo.png" id="Tunisair" alt="TunisairLogo" >
    </a>
    <a href="https://www.tunisairexpress.net">
        <img src="/assets/TUNISAIREXPRESSLogo.png" id="TunisairExpress" alt="TunisairExpressLogo">
    </a>
</div>
</div>
