<div class="widget-container">
  <div class="widget green">
    <div class="value">
      <div class="top">{{numberOfSearchs}}</div>
      <div class="bottom"> Search</div>
    </div>
    <div class="icon">
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
  </div>
  <div class="widget yellow">
    <div class="value">
      <div class="top">{{numberOfFlights}}</div>
      <div class="bottom">Scraped Flights</div>
    </div>
    <div class="icon">
      <fa-icon [icon]="faPlane"></fa-icon>
    </div>
  </div>
  <div class="widget red">
    <div class="value">
      <div class="top"> {{numberOfUsers}} </div>
      <div class="bottom"> Custom Form </div>
    </div>
    <div class="icon">
      <fa-icon [icon]="faUsers"></fa-icon>
    </div>
  </div>
  <div class="widget blue">
    <div class="value">
      <div class="top">4</div>
      <div class="bottom">Partners</div>
    </div>
    <div class="icon">
      <fa-icon [icon]="faHandshake"></fa-icon>
    </div>
  </div>
</div>
