@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 6.25vmax;
}
@media (max-width: 992px) {
  html {
    font-size: 60px;
  }
}

body{
  height: 100vh;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 0.24rem;
  font-family: "Space Grotesk", sans-serif;
  background-image: radial-gradient(farthest-side, #afc8f9 90%, #fff0), radial-gradient(farthest-side, #ddc1fb 90%, #fff0), radial-gradient(circle at 0 0, #d5e0fa, #e5d5f6) !important;
  background-size: 7rem 7rem, 6rem 6rem, auto;
  background-position: 30% 10%, 80% 90%, 0;
  background-repeat: no-repeat;
}

.wrapper {
    width: 500px;
    height: 350px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    border-radius: 0.25rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    overflow: hidden; /* Ajout de cette ligne pour masquer la barre de défilement */
    align-items: center;
    
  }
  
.wrapper .title {
  font-weight: bold;
  font-family: "popins";
  font-size:20px;
  
  text-align: center;
  margin-bottom: 20px
  
}
.wrapper .content {
  line-height: 1.6;
  color: #555;
}

.rate-box {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.1rem;
 
}
.rate-box input {
  display: none;
  font-size:1.5rem;
}
.rate-box input:hover ~ .star:before {
  color: rgba(255, 204, 51, 0.5);
  font-size:1.5rem;
}
.rate-box input:active + .star:before {
  transform: scale(0.9);
  font-size:1.5rem;
}
.rate-box input:checked ~ .star:before {
  color: #ffcc33;
  font-size:1.5rem;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), -3px -3px 8px rgba(255, 255, 255, 0.8);
}
.rate-box .star:before {
  content: "★";
  display: inline-block;
  font-family: "Potta One", cursive;
  font-size:1.5rem;
  cursor: pointer;
  color: #0000;
  text-shadow: 2.5px 2.5px 15px rgba(255, 255, 255, 1.5);
  background-color: #aaa;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.3s;
  margin-top: 10px;
  margin-bottom: 20px;
}

textarea {
  border: none;
  resize: none;
  width: 100%;
  padding: 0.2rem;
  color: inherit;
  font-family: inherit;
  line-height: 1.5;
  border-radius: 0.2rem;
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.3), inset -2px -2px 8px rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
}
textarea::placeholder {
  color: #aaa;
}
textarea:focus {
  outline-color: #ffcc33;
}

.submit-btn {
  padding: 0.2rem 0.5rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), -3px -3px 8px rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  cursor: pointer;
  background-color: rgba(255, 204, 51, 0.8);
  transition: all 0.2s;
}
.submit-btn:active {
  transform: translate(2px, 2px);
}