<div class="meetourteam">
  <div class="person" style="--color: #E32E22">
    <div class="container">
      <div class="conianer-inner">
        <div class="circle"></div>
        <img src="assets/image-1.png" class="image1">
      </div>
    </div>
    <div class="divider"></div>
    <span class="name">Anas Hizem</span>
    <p>Senior UX/UI Designer</p>
  </div>

  <div class="person" style="--color: #374F79">
    <div class="container">
      <div class="conianer-inner">
        <div class="circle"></div>
        <img src="assets/image-2.png" class="image2">
      </div>
    </div>
    <div class="divider"></div>
    <span class="name">Med Amine Boujelben</span>
    <p>Senior Full-Stack Developer</p>
  </div>
</div>