
*{
    font-family: 'poppins';
}



.body {
    width: calc(100% - 5rem);
    height: 100%;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background-color :#4b4b4b;
    padding: 3rem;
}
.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}
.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}
.row {
    padding-top: 150px;
    margin: auto;
    width: 1200px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px #939393;
    border-radius: 25px;
    align-items: center;
    padding: 20px;
    background-color: #263238;
}
.add {
    width: 250px;
}
.card span {
    font-size: 20px;
    font-weight: bold;
}


.card hr {
    margin-top: 10px;
    margin-bottom: 20px;
}
.Card-title{
    font-size: 20px;
    color: #fff;
}

  
.example-full-width {
    width: 100%;
    height: 70px;
}

table , mat-paginator  {
    background-color: transparent;
    color: #fff;
}
.mat-elevation-z8 {
    box-shadow: none;
}
td , th {
    color: #fff;
}

button {
    background: transparent;
}

fa-icon {
    color: #fff;
    font-size: 24px;
}
.udpate-btn{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: green;
    cursor: pointer;
}
.delete-btn{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: red;
    cursor: pointer;
}  

.update-btn-icon {
    font-size: 22px;
    width: 1rem;
    min-width: 2rem;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}
.delete-btn-icon {
    font-size: 22px;
    width: 1rem;
    min-width: 2rem;
    text-align: center;
    padding: 10px 5px;
    cursor: pointer;
}

.button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.save-btn {
    background-color: green;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
}
.clear-btn {
    background-color: red;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;
}

::ng-deep .mat-mdc-paginator-outer-container {
    
    color: white;
    border-radius: 30px;
    border: 2px solid  white;
    width: 450px;
    height: 50px;
    margin-left: 400px;
    align-items: center;

}
::ng-deep .mat-mdc-paginator-icon {
    fill: white !important;
}
/* users-list.component.css */

::ng-deep .swal2-styled.swal2-confirm{
    background-color: #28a745 !important;
    width: 100px !important;
    height: 50px !important;
    cursor: pointer !important;
    border: none !important;
    border-radius: 10px !important;
    color: #fff !important;
}
 
::ng-deep .swal2-styled.swal2-cancel{
    background-color: #af2e03 !important;
    width: 100px !important;
    height: 50px !important;
    cursor: pointer !important;
    border: none !important;
    border-radius: 10px !important;
    color: #fff !important;

}
::ng-deep .swal2-styled {
    box-shadow: none  !important;
}