<div class="wrapper"> 
  <div class="title">Rate your experience</div>
  <div class="content">We highly value your feedback! Kindly take a moment to rate your experience and provide us with your valuable feedback.</div>
  <div class="rate-box">
    <input type="radio" name="star" id="star0" value="5" [(ngModel)]="stars"/>
    <label class="star" for="star0"></label>
    <input type="radio" name="star" id="star1" value="4" [(ngModel)]="stars"/>
    <label class="star" for="star1"></label>
    <input type="radio" name="star" id="star2"  value="3" [(ngModel)]="stars"/>
    <label class="star" for="star2"></label>
    <input type="radio" name="star" id="star3" value="2" [(ngModel)]="stars"/>
    <label class="star" for="star3"></label>
    <input type="radio" name="star" id="star4" value="1" [(ngModel)]="stars"/>
    <label class="star" for="star4"></label>
  </div>
  <textarea cols="30" rows="6" placeholder="Tell us about your experience!" [(ngModel)]="message"></textarea>
  <div class="submit-btn" (click)="submitRating()">Send</div>
</div>