 *{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
  
  }
.header-container {
  background-image: linear-gradient(rgba(20, 20, 20, 0.354),rgba(20, 20, 20, 0.252)),url("/assets/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
